<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>    
  <add name="ConnectionString" connectionString="Data Source=AMIT-DEV8\SQLEXPRESS;Initial Catalog=Test_Shanti;User ID=sa;Password=pctadmin$123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings> 
    <!-- Change to "false" if you want to Disable logging for the application. -->
    <add key="EnableLogs" value="true"/>
    <add key="EqPhm_UserID_Fileshare" value=""/>
    <add key="EqPhm_Password_Fileshare" value=""/>
    <add key="LMM_UserID_Fileshare" value=""/><!--satyendraj-->
    <add key="LMM_Password_Fileshare" value=""/><!--aug$1234-->
    <add key="EqCompX_UserID_Fileshare" value=""/>
    <add key="EqCompX_Password_Fileshare" value=""/>
    <add key="MPI_UserID_Fileshare" value=""/>
    <add key="MPI_Password_Fileshare" value=""/>

    <add key="PhantomPDIFilePath" value="\\amit-LT22\SHARED\Prince\PDI_Phantom\"/>
    <add key="PhantomPDI_UserID_Fileshare" value="Abhilashk"/>
    <add key="PhantomPDI_Password_Fileshare" value="Oct$1234"/>

    <add key="CompactXPDIFilePath" value="\\amit-LT22\SHARED\Prince\PDI_CompactX\"/>
    <add key="CompactXPDI_UserID_Fileshare" value="Abhilashk"/>
    <add key="CompactXPDI_Password_Fileshare" value="Oct$1234"/>

    <add key="PhantomBatchFilePath" value="\\amit-LT22\SHARED\Prince\Batch_Phantom\"/>
    <add key="PhantomBatch_UserID_Fileshare" value="Abhilashk"/>
    <add key="PhantomBatch_Password_Fileshare" value="Oct$1234"/>

    <add key="CompactXBatchFilePath" value="\\amit-LT22\SHARED\Prince\Batch_CompactX\"/>
    <add key="CompactXBatch_UserID_Fileshare" value="Abhilashk"/>
    <add key="CompactXBatch_Password_Fileshare" value="Oct$1234"/>

    <add key="DestinationFilePath" value="C:\inetpub\wwwroot\Shanti\ShantiIron\PackingStationFiles"/>
    <add key="Destination_UserID_Fileshare" value="satyendraj"/>
    <add key="Destination_Password_Fileshare" value="aug$1234"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>